@using Microsoft.AspNetCore.Identity
@using MusicBook.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul style="color:#EAC67a," class="nav nav-pills nav-stacked">
    <li style="color:#EAC67a", class="@ManageNavPages.IndexNavClass(ViewContext)"><a style="color:#EAC67a" asp-page="./Index">Profile</a></listyle="color:#EAC67a,>
    <li style="color:#EAC67a", class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a style="color:#EAC67a" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li style="color:#EAC67a", class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a style="color:#EAC67a" id="external-login" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li style="color:#EAC67a", class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a style="color:#EAC67a" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
    <li style="color:#EAC67a", class="@ManageNavPages.PersonalDataNavClass(ViewContext)"><a style="color:#EAC67a" asp-page="./PersonalData">Personal data</a></li>
</ul>
